body {
    background-color: #ffffff;
}

#main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

.spacing {
    margin: 30px;
    border-radius: 25px;
}

#search-bar {
    width: 25vw;
}

.search-function {
    display: block;
    text-align: center;
}

.button-skinning {
    border-radius: 25px;
    background-image: linear-gradient(top, #f8f9fa, #f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#french-text {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}